1 /* main.css*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
ul{
    list-style-type:none;
}

#wrap{
    width:1200px;
    margin:0 outo;
    position:relative;
}
#header{
    width:100%;
    margin-bottom:20px; /* #main 태그와의 간격 */
    position:relative;
}
#top{
    background:#3b414d;
    color:#eee;
    width:100%;
}
.top_text_box{
    text-align:right;
    padding-right:50px;
}
#top .top_text{
    display:inline-block;
    padding:8px 15px;
}
#top .top_text :nth-child(2){
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

#nav{
    width:100%;
    position:relative;
    height: 106px;
}
#logo_box{
    padding:8px 0;
    float: left;

    /* float은 뜨다의 뜻을 가지고 있고 html에서도 상위 태그위 떠있는
    형태로 표시 되기 때문에 상위태그에 포함되지 않는다.
    정렬을 위한 속성이지만 상위태그에 미포함되기 때문에 상위태그에 
    높이, 여백 같은 값을 별도로 지정해줘서 사용해야한다.*/
}

#logo_box img{
    width: 90px;
}
#menu_box{
    position: relative;
}

#menu_list{
    /*height: 106px;
    padding: 40px 0;*/
    position: absolute;
    right: 0;

}
#menu_list .menu{
    float: left;
    position: relative;
    top: 30px;
    font-size: 25px;
    padding: 0 15px;
} 

#menu_list .menu:hover{
    cursor: pointer;
    color: blueviolet;
    font-weight: 800;
    text-shadow: 3px 3px 2px #444;
}